@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:900|Roboto&display=swap');

:root {
    font-size: 2vw;
    --lato-font: 'Lato';
    --roboto-font: 'Roboto';
    --montserrat-font: 'Montserrat';
    --main-blue-color: #0b69b7;
    --main-orange-color: #e78400;
    --main-light-blue-color: #a1d7ff;
    --main-yellow-color: #ffc414;
}

* {
    font-family: var(--roboto-font);
}

.thin-line {
    border-bottom: 2.5rem solid var(--main-blue-color);
}

/*-------------------About Section-------------------*/

.circle-img {
    /*border-radius: 50%;*/
    height: auto;
    width: 10rem;
    max-width: 100%;
    padding-top: 2rem;
}

.details {
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, .7);
    width: 75%;
    margin: 2rem auto;
}

.heading_message {
    color: var(--main-yellow-color);
}

.heading_message span {
    color: var(--main-orange-color);
}

#about {
    background-image: url("../img/five-bulb-lights-opacity.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: auto;
}

#about i {
    color: black;
    margin: 1rem 1rem 0 1rem;
    font-size: 4vw;
}

#about i:hover {
    color: var(--main-orange-color);
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation: jello 1s;
    cursor: pointer;
}

#about-me-message {
    color: var(--main-orange-color);
    font-weight: bold;
}

/*-------------------Experience Section-------------------*/
.experience-heading, .projects-heading {
    padding: 1rem 0;
    font-weight: bold;
    font-family: var(--lato-font);
}

.experience-container {
    background-color: var(--main-blue-color);
    color: var(--main-yellow-color);
}

.experience-topic i {
    font-size: 5vw;
}

.experience-topic h2 {
    padding: 1rem;
    font-family: var(--lato-font);
}

.experience-topic ul {
    list-style: none;
    padding: 0;
}

.experience-topic li {
    color: white;
}

/*-------------------Projects Section-------------------*/
.projects-heading {
    color: var(--main-orange-color);
    font-family: var(--lato-font);
}

.project-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 1rem;
}

#projects {
    background-color: var(--main-light-blue-color);
}

#projects span {
    font-size: 3vw;
    color: var(--main-orange-color);
    font-family: var(--lato-font);
}

#projects iframe {
    outline: none;
    width: 100%;
    height: 100%;
}

#projects a {
    text-decoration: none;
}

/*-------------------Contact Section-------------------*/
#contact {
    background-color: var(--main-blue-color);
    padding: 1rem;
}

#contact h2 {
    padding: 1rem;
    color: var(--main-yellow-color);
}

#contact a {
    margin: 1rem;
    padding: .5rem;
    border-radius: 2rem;
    background-color: var(--main-light-blue-color);
    border: black solid .2rem;
    outline: none;
    font-size: 3vw;
    text-decoration: none;
}

#contact button {
    border: none;
    outline: none;
    background-color: transparent;
}

#contact a:hover, button:hover {
    background-color: var(--main-orange-color);
    border: black solid .2rem;
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation: pulse 1.5s;
}

#contact button:hover {

}