@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:900|Roboto&display=swap');

:root {
    font-size: 2vw;
    --lato-font: 'Lato';
    --roboto-font: 'Roboto';
    --montserrat-font: 'Montserrat';
    --main-blue-color: #0b69b8;
    --main-light-blue-color: #4b6b93;
    --main-yellow-color: #ffc001;
}

* {
    font-family: var(--roboto-font);
}

.thin-line {
    border-bottom: 2.5rem solid var(--main-blue-color);
}

/*-------------------About Section-------------------*/

.circle-img {
    /*border-radius: 50%;*/
    height: auto;
    width: 10rem;
    max-width: 100%;
    padding-top: 2rem;
}

.details {
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, .6);
    width: 80%;
    margin: 2rem auto;
}

.heading_message {
    color: white;
}

.heading_message span {
    color: var(--main-yellow-color);
    letter-spacing: 2px;
}

#about {
    background-image: url("../img/five-bulb-lights-1036936.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: auto;
}

#about i {
    color: black;
    margin: 1rem 1rem 0 1rem;
    font-size: 4vw;
}

#about i:hover {
    color: var(--main-yellow-color);
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation: jello 1s;
    cursor: pointer;
}

#about-me-message {
    color: var(--main-yellow-color);
    font-weight: bold;
}

/*-------------------Experience Section-------------------*/
.experience-heading, .projects-heading {
    padding: 1rem 0;
    font-weight: bold;
    font-family: var(--lato-font);
}

.experience-container {
    background-color: var(--main-blue-color);
    color: var(--main-yellow-color);
}

.experience-topic i {
    font-size: 8vw;
}

.experience-topic h2 {
    padding: 1rem;
    font-family: var(--lato-font);
}

.experience-topic ul {
    list-style: none;
    padding: 0;
}

.experience-topic li {
    color: white;
    font-size: 3vw;
}

/*-------------------Projects Section-------------------*/
.projects-heading {
    color: var(--main-yellow-color);
    font-family: var(--lato-font);
    padding-bottom: 0;
}

.project-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1rem;
}
.project-container button {
    outline: none;
    color: white;
    background-color: var(--main-light-blue-color);
    border: .2rem solid white;
    padding: .3rem .5rem;
    border-radius: 1rem;
    font-size: 3vw;
    margin-bottom: 1.5rem;
}
.project-container button:hover {
    background-color: black;
    color: white;
}

.project-container p {
    font-size: 3vw;
    color: white;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230b69b8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230b69b8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.modal {
    background-color: rgba(0, 0,0,.7);
}

.modal-dialog {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.modal-title {
    color: var(--main-yellow-color);
    font-size: 4vw;
}

.modal-content {
    background-color: var(--main-light-blue-color);
    color: white;
    min-width: 50vw;
    height: fit-content;
}

.modal-content button {
    margin-top: 1rem;
}



#projects {
    background-color: var(--main-light-blue-color);
}

#projects span {
    font-size: 4vw;
    color: var(--main-yellow-color);
    font-family: var(--lato-font);
}

#projects iframe {
    outline: none;
    width: 100%;
    height: 100%;
    margin: .5rem;
}

#projects a:hover {
    text-decoration: underline;
}

/*-------------------Contact Section-------------------*/
#contact {
    background-color: var(--main-blue-color);
    padding: 1rem;
}

#contact h2 {
    padding-bottom: .5rem;
    color: var(--main-yellow-color);
}

#contact a {
    margin: 1rem;
    padding: .5rem;
    border-radius: 2rem;
    background-color: transparent;
    border: var(--main-yellow-color) solid .2rem;
    outline: none;
    font-size: 3vw;
    text-decoration: none;
}

#contact button {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--main-yellow-color);
}

#contact a:hover, button:hover {
    background-color: var(--main-light-blue-color);
}