@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:900|Roboto&display=swap');

:root {
    font-size: 2vw;
    --lato-font: 'Lato';
    --roboto-font: 'Roboto';
    --montserrat-font: 'Montserrat';
}


* {
    font-family: var(--lato-font);
}

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.thin-line {
    border-bottom: 1rem solid white;
}

.circle-img {
    /*border-radius: 50%;*/
    height: auto;
    width: 10rem;
    max-width: 100%;
    padding-top: 2rem;
}

.details {
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, .7);
    width: 70%;
    margin: 2rem auto;
}

.heading_message {
    color: white;
}
.heading_message span {
    color: #e78400;
}

#about {
    background-image: url("../img/five-bulb-lights-opacity.jpg");
    /*background-position: top;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: auto;
}

#about-me-message {
    color: #e78400;
    font-weight: bold;
    /*font-size: 1em;*/
    /*animation-duration: 2s;*/
    /*animation-delay: 2s;*/
    /*animation-iteration-count: 3;*/
}

/*-------------------Experience Section-------------------*/
.experience-heading {
    padding: 2rem 0;
    color: white;
    font-weight: bold;
}

.experience-heading-container {
   background-color: rgba(22, 107, 180, 1.00);
}
.experience-topic-container {
    font-family: var(--montserrat-font);
    /*background-color: rgba(251, 251, 253, 1.00);*/
    background-color: rgba(22, 107, 180, 1.00);;
    color: black;
}
.experience-topic i {
    color: #b08501;
    font-size: 5vw;
}
/*.experience-topic {*/
/*    padding: 1rem;*/
/*}*/
.experience-topic h2 {
    padding: 1rem;
    font-weight: bold;
    color: #e78400;
}
.experience-topic ul {
    list-style: none;
    padding: 0;
}
.experience-topic li {
    color: white;
}