@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:900|Roboto&display=swap');

:root {
    font-size: 2vw;
    --lato-font: 'Lato';
    --roboto-font: 'Roboto';
    --montserrat-font: 'Montserrat';
}
/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100%;*/
/*}*/

* {
    font-family: var(--lato-font);
}

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.thin-line {
    border-bottom: .5rem solid navy;
}

.circle-img {
    /*border-radius: 50%;*/
    height: auto;
    width: 10rem;
    max-width: 100%;
    padding-top: 1rem;
}

.details {
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, .8);
    width: 70%;
    margin: 1rem auto;
}

.heading_message {
    color: white;
}
.heading_message span {
    color: #e78400;
}

#about {
    background-image: url("../img/five-bulb-lights-opacity.jpg");
    /*background-position: top;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: auto;
}

#about-me-message {
    color: #e78400;
    /*font-size: 1em;*/
    /*animation-duration: 2s;*/
    /*animation-delay: 2s;*/
    /*animation-iteration-count: 3;*/
}

/*-------------------Experience Section-------------------*/
.experience-heading {
    padding: 1rem;
    color: white;
}

.experience-heading-container {
   background-color: navy;
}
.experience-topic-container {
    font-family: var(--montserrat-font);
    background-color: rgba(0, 0, 128, .6);
    color: white;
}
.experience-topic {
    padding: 1rem;
}
.experience-topic ul {
    list-style: none;
    padding: 0;
}