@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:900|Roboto&display=swap');

:root {
    font-size: 2vw;
    --lato-font: 'Lato';
    --roboto-font: 'Roboto';
    --montserrat-font: 'Montserrat';
}

* {
    font-family: var(--lato-font);
}

.thin-line {
    border-bottom: 1rem solid rgba(22, 107, 180, 1.00);
}

/*-------------------About Section-------------------*/

.circle-img {
    /*border-radius: 50%;*/
    height: auto;
    width: 10rem;
    max-width: 100%;
    padding-top: 2rem;
}

.details {
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, .7);
    width: 70%;
    margin: 2rem auto;
}

.heading_message {
    color: white;
}
.heading_message span {
    color: #e78400;
}

#about {
    background-image: url("../img/five-bulb-lights-opacity.jpg");
    /*background-position: top;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: auto;
}

#about i {
    color: black;
    margin: 1rem 1rem 0 1rem;
    font-size: 4vw;
}
#about i:hover {
    color: #e78400;
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation: tada 1s;
    cursor: pointer;
}

#about-me-message {
    color: #e78400;
    font-weight: bold;
    /*font-size: 1em;*/
    /*animation-duration: 2s;*/
    /*animation-delay: 2s;*/
    /*animation-iteration-count: 3;*/
}

/*-------------------Experience Section-------------------*/
.experience-heading, .projects-heading {
    padding: 2rem 0;
    color: white;
    font-weight: bold;
}

.experience-container {
   background-color: rgba(22, 107, 180, 1.00);
}
.experience-topic-container {
    font-family: var(--montserrat-font);
    /*background-color: rgba(251, 251, 253, 1.00);*/
    background-color: rgba(22, 107, 180, 1.00);;
    color: black;
}
.experience-topic i {
    color: #ffda6b;
    font-size: 5vw;
}
/*.experience-topic {*/
/*    padding: 1rem;*/
/*}*/
.experience-topic h2 {
    padding: 1rem;
    font-weight: bold;
    color: #ffda6b;
}
.experience-topic ul {
    list-style: none;
    padding: 0;
}
.experience-topic li {
    color: white;
}

/*-------------------Projects Section-------------------*/
.projects-heading {
    color: black;
}

.project-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 1.5rem;
}

/*.project-img {*/
/*    height: auto;*/
/*    max-width: 30vw;*/
/*}*/



#projects {
    background-color: #f4faff;
}
#projects span {
    font-family: var(--montserrat-font);
    font-size: 3vw;
    color: #e78400;
}
#projects video {
    width: 100%;
    height: auto;
}
